th {
    padding: 8px 12px;
    background-color: #fffffe !important;
    border: 3px solid #ffc0ad !important;
    border-bottom: 3px solid #ffa67a !important;
    color: #271c19;
    text-align: center;
}

td {
    padding: 8px 12px;
    background-color: #ffc0ad !important;
    border: 3px solid #e9eeee !important;
    color: #271c19;
    text-align: center;
}

.paiFormInsere {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #271c1983;
    border: #e9eeee 2px solid;
}

.formInsere {
    width: 90%;
    padding-left: 10px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.formInserePequeno {
    width: 44%;
    padding-left: 10px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 1%;
    margin-right: 1%;
}

.botaoInsere {
    width: 90%;
    margin-top: 15px;
    margin-bottom: 20px;
}

/* TABELAS */
table {
    width: 970px;
}

.inputTableInsere {
    margin-left: 6px;
    margin-left: 6px;
    width: 210px;
    padding: 5px 6px;
}

.btnTableInsere {
    width: 45%;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 2%;
    margin-left: 2%;
}

/* FUNDOS {
    #55423d ;
    #ffc0ad ;
    #e78fb3 ;
} */
/* LETRAS {
    #fffffe ;
    #fff3ec ;
    #271c19 ;
} */

/* RESPONSIVO */
@media (max-width: 990px) {
    table {
        width: 100% !important;
    }

    th {
        padding: 10px 4px;
    }

    td {
        padding: 10px 4px;
        word-break: break-all;
    }

    .naoQuebraPalavra {
        word-break: keep-all !important;
    }

    .inputTableInsere {
        margin: 10px 2px;
        font-size: 14px;
        width: 75%;
        padding: 5px 4px;
    }

    .btnTableInsere {
        width: 35%;
        margin-top: 5px;
        margin-bottom: 10px;
        margin-right: 5px;
        margin-left: 5px;
    }
}
